Repository sgp22/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

Update backend version number and add headless python package to requirements
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Revert "Update backend version number and add headless python package to requirements"
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Revert last commit and update backend version
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Add staging and prod client urls
  src/app/app/settings/base.py
Owners: @jmacaluso711, @clepore, @nickwynja

Move client urls to env settings files
  src/app/app/settings/base.py
  src/app/app/settings/dev.py
  src/app/app/settings/prod.py
  src/app/app/settings/staging.py
Owners: @jmacaluso711, @clepore, @nickwynja

Bump backend version to 1.1.2
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Fix utm route bug
  src/site/src/app/components/home/home.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Add image gallery model and front end
  src/app/home/migrations/0045_auto_20190710_1455.py
  src/app/home/models.py
  src/site/src/app/components/core-content-page/core-content-page.component.html
  src/site/src/app/components/core-content-page/core-content-page.component.ts
  src/site/src/assets/css/page-content.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add label to image struckblock
  src/app/home/migrations/0046_auto_20190710_1701.py
  src/app/home/migrations/0047_auto_20190710_1742.py
  src/app/home/migrations/0048_auto_20190710_1748.py
  src/app/home/migrations/0049_auto_20190710_1750.py
  src/app/home/migrations/0050_auto_20190710_1750.py
  src/app/home/migrations/0051_auto_20190710_1752.py
  src/app/home/migrations/0052_auto_20190710_1754.py
  src/app/home/migrations/0053_auto_20190710_1755.py
  src/app/home/migrations/0054_auto_20190710_1756.py
  src/app/home/migrations/0055_auto_20190710_1757.py
  src/app/home/migrations/0056_auto_20190710_1758.py
  src/app/home/models.py
  src/site/src/app/components/core-content-page/core-content-page.component.html
  src/site/src/app/components/core-content-page/core-content-page.component.ts
  src/site/src/assets/css/page-content.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Image label styles
  src/site/src/assets/css/page-content.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Bump django to >=2.1.10
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
  src/app/requirements.txt
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Add theme switching
  src/site/angular.json
  src/site/package.json
  src/site/src/app/app.component.html
  src/site/src/app/app.module.ts
  src/site/src/app/components/footer/footer.component.html
  src/site/src/app/components/header/header.component.html
  src/site/src/app/components/header/header.component.scss
  src/site/src/app/components/theme-switcher/theme-switcher.component.html
  src/site/src/app/components/theme-switcher/theme-switcher.component.scss
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
  src/site/src/app/components/toc/toc.component.scss
  src/site/src/assets/css/base.scss
  src/site/src/assets/css/sidebar.scss
  src/site/src/assets/css/social-media-links.scss
  src/site/src/styles-uplift-contrast.scss
  src/site/src/styles-uplift-dark.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Replace vars with correct tokens in footer and add dark theme logo
  src/site/src/app/app.component.html
  src/site/src/app/app.component.ts
  src/site/src/app/components/footer/footer.component.scss
  src/site/src/app/components/header/header.component.html
  src/site/src/app/components/header/header.component.ts
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
  src/site/src/assets/svgs/ids-logo-white.svg
Owners: @jmacaluso711, @clepore, @nickwynja

Remove ubused stylesheet
  src/site/src/app/components/theme-switcher/theme-switcher.component.scss
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Blog and mobile nav tokens
  src/site/src/app/components/blog-related-posts/blog-posts.component.ts
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.scss
  src/site/src/app/components/header/header.component.scss
  src/site/src/app/components/home/home.component.scss
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Adjust homepage token
  src/site/src/app/components/home/home.component.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Rename some vars to use 'variant' and test url param
  src/site/src/app/app.component.html
  src/site/src/app/app.component.ts
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
  src/site/src/app/components/header/header.component.html
  src/site/src/app/components/header/header.component.ts
  src/site/src/app/components/theme-switcher/theme-switcher.component.html
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
  src/site/src/app/shared/token.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Add service to pass theme variant to docs component
  src/site/src/app/app.component.html
  src/site/src/app/app.component.ts
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Save theme variant in localstorage for demos
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Set initial themeVariant to light
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Persist theme variant on refresh and page changes
  src/site/src/app/app.component.ts
  src/site/src/app/components/back-to-top/back-to-top.component.scss
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Switch token table to uplift
  src/site/src/app/components/token-table/token-table.component.html
  src/site/src/app/shared/token.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Use prefers-color-scheme to change variant based on user preference
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Remove localstorage for user preference
  src/site/angular.json
  src/site/src/app/app.component.html
  src/site/src/app/app.component.ts
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Remove landing page graphic and unneeded theme-wrapper class
  src/site/src/app/app.component.html
  src/site/src/app/components/landing-page/landing-page.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Fix lint error
  src/site/src/app/components/theme-switcher/theme-switcher.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Fix token service test
  src/site/src/app/shared/token.service.spec.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Fix homepage video initial load in chrome
  .vscode/settings.json
  src/site/src/app/components/home/home.component.html
  src/site/src/styles.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add newsletter page and signup form
  src/site/src/app/app-routing.module.ts
  src/site/src/app/app.module.ts
  src/site/src/app/components/newsletter/newsletter.component.html
  src/site/src/app/components/newsletter/newsletter.component.scss
  src/site/src/app/components/newsletter/newsletter.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Fix lint errors
  src/site/src/app/components/newsletter/newsletter.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Change sign up form headline
  src/site/src/app/components/newsletter/newsletter.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Bump ids-css version
  src/site/package.json
Owners: @jmacaluso711, @clepore, @nickwynja

Added some logs.
  src/app/docs/aws.py
  src/app/docs/local.py
Owners: @jmacaluso711, @clepore, @nickwynja

Updated tmp paths for storing SSLs.
  deploy/environments/prod-Dockerrun.aws.json
  deploy/extensions/91_download_ssls.config
Owners: @corpulent

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Default owners for the repo:
*       @jmacaluso711 @clepore @nickwynja

# Code owners for the docs directory

deploy/         @corpulent
docker/         @corpulent
src/app/config  @corpulent
src/config      @corpulent
