Repository sgp22/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Default owners for the repo:
*       @jmacaluso711 @clepore @nickwynja

# Code owners for the docs directory

deploy/         @corpulent
docker/         @corpulent
src/app/config  @corpulent
src/config      @corpulent

angular muted attribute
  src/site/src/app/components/home/home.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Update og:title
  src/site/src/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

Removes unused icon references
  src/site/src/app/app.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Adds H&L link in footer
  src/site/src/app/components/footer/footer.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Update button copy
  src/site/src/app/components/home/home.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Use ids-identity 2.4.0 uplift icon set
  src/site/package.json
  src/site/src/app/components/icon-lookup/icon-download.component.html
  src/site/src/app/components/icon-lookup/icon-lookup.component.scss
  src/site/src/app/components/icon-lookup/icon-lookup.service.ts
  src/site/src/assets/svgs/ids-svg-empty.svg
  src/site/src/assets/svgs/ids-svg-extended.svg
  src/site/src/assets/svgs/ids-svg.svg
  src/site/src/scripts/create-svg.js
Owners: @jmacaluso711, @clepore, @nickwynja

Updates homepage copy
  src/site/src/app/components/home/home.component.html
  src/site/src/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

cookie banner style adjustments
  src/site/src/assets/css/cookie-banner.scss
  src/site/src/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

Copy edits
  src/site/src/app/components/home/home.component.html
  src/site/src/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

add playsinline attr for ios
  src/site/src/app/components/home/home.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Update tokens copy
  src/site/src/app/components/home/home.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

new services for cms sidebar
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

cacheservice cms sidebar
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

clean up
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

sort obj pipe
  src/site/src/app/app.module.ts
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/app/shared/sort.pipe.ts
Owners: @jmacaluso711, @clepore, @nickwynja

added mergemap to clean up multiple subscribes in component
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

ts lint
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

css lint 🙈
  src/site/src/app/components/home/home.component.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add tests for new sidebar services
  src/site/src/app/shared/pages.service.spec.ts
Owners: @jmacaluso711, @clepore, @nickwynja

accordion
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Update to django 2.1.7 to fix vulnerabilities
  deploy/environments/prod-Dockerrun.aws.json
  deploy/environments/staging-Dockerrun.aws.json
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
  src/app/requirements.txt
Owners: @corpulent, @jmacaluso711, @clepore, @nickwynja

Added show_in_menus to payload
  src/app/home/router.py
  src/app/home/serializers.py
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/assets/css/sidebar.scss
Owners: @jmacaluso711, @clepore, @nickwynja

remove staging-a config
  Makefile
  deploy/deploy.sh
Owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

added table-container to tables
  src/site/src/app/components/core-content-page/core-content-page.component.html
  src/site/src/app/components/token-table/token-table.component.html
  src/site/src/assets/css/tables.scss
Owners: @jmacaluso711, @clepore, @nickwynja

create param obj and remove query params from page title
  src/site/src/app/app.component.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

fix homepage header bug when tracking params are present
  src/site/src/app/app.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

added SortSidebar pipe
  src/site/src/app/app.module.ts
  src/site/src/app/components/sidebar-cms/sidebar-cms.component.html
  src/site/src/app/shared/sort-sidebar.pipe.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Adds route for content
  src/site/src/app/app-routing.module.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Adds bold and italic rich text styles
  src/site/src/assets/css/base.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Update pointer to staging db for sync
  Makefile
Owners: @jmacaluso711, @clepore, @nickwynja

Scss syntax
  src/site/src/assets/css/base.scss
Owners: @jmacaluso711, @clepore, @nickwynja

blog header styles
  src/app/home/migrations/0043_auto_20190502_1447.py
  src/app/home/migrations/0044_blogpostpage_hero_image.py
  src/app/home/models.py
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.ts
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/header/header.component.scss
  src/site/src/app/components/home/home.component.scss
  src/site/src/assets/css/blog.scss
  src/site/src/assets/css/custom-properties.css
  src/site/src/assets/css/page-content.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Blog content styles
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Related post section
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/app/shared/pages.service.ts
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Related post re-usable component
  src/site/src/app/app.module.ts
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.ts
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/blog-related-posts/blog-posts.component.ts
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.html
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.scss
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.ts
  src/site/src/app/components/blog-related-posts/medium-posts.component.ts
  src/site/src/app/shared/pages.service.ts
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Responsive adjustments
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.ts
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/app/components/blog-related-posts/blog-posts.component.ts
  src/site/src/app/components/blog-related-posts/medium-posts.component.ts
  src/site/src/app/components/header/header.component.scss
  src/site/src/assets/css/blog.scss
  src/site/src/assets/css/variables.scss
  src/site/src/assets/svgs/ids-logo.svg
Owners: @jmacaluso711, @clepore, @nickwynja

Make test page service test pass
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.ts
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/app/shared/pages.service.ts
  src/site/src/assets/css/blog.scss
  src/site/src/assets/img/blog-og-image-2.jpg
  src/site/src/assets/img/blog-og-image.jpg
Owners: @jmacaluso711, @clepore, @nickwynja

Added ids logo and version to footeR
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/app/components/blog-related-posts/blog-posts.component.ts
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.html
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.ts
  src/site/src/app/components/blog-related-posts/medium-posts.component.ts
  src/site/src/app/components/footer/footer.component.html
  src/site/src/app/components/footer/footer.component.scss
  src/site/src/app/components/footer/footer.component.ts
  src/site/src/app/components/home/home.component.html
  src/site/src/app/components/home/home.component.ts
  src/site/src/assets/css/blog.scss
  src/site/src/assets/svgs/icon-medium-dark.svg
Owners: @jmacaluso711, @clepore, @nickwynja

Add blog post row to homepage
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.html
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.ts
  src/site/src/app/components/home/home.component.html
  src/site/src/app/components/home/home.component.ts
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Update hookandloop medium name
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.html
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja
