Repository sgp22/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

Update to hookandloop medium group
  src/site/src/app/components/blog-related-posts/blog-related-posts.component.html
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Use innerHTML to render html entities
  src/site/src/app/components/blog-related-posts/medium-posts.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Update ids-identity to 2.6.2 and rebuild icons
  src/site/package.json
  src/site/src/app/components/icon-lookup/icon-lookup.component.scss
  src/site/src/assets/svgs/ids-svg.svg
Owners: @jmacaluso711, @clepore, @nickwynja

Update social links in footer
  src/site/src/app/components/footer/footer.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Remove stretch from blog posts on landing page and related
  .vscode/settings.json
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add white background behind medium images
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add inset title to related posts
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Remove ids grid classes from blog post container
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Adjust font sizing at breakpoints
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Adjust h1 in post content breakpoint
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add placeholder image
  src/site/src/app/components/blog-landing-page/blog-landing-page.component.html
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
  src/site/src/assets/img/placeholder-01.jpg
Owners: @jmacaluso711, @clepore, @nickwynja

Fix css lint error
  src/site/src/assets/css/blog.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Update footer logo to plain text
  src/site/src/app/components/footer/footer.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Add full color logo to footer
  src/site/src/app/components/footer/footer.component.html
  src/site/src/assets/svgs/logo-black.svg
  src/site/src/assets/svgs/logo-full-color.svg
Owners: @jmacaluso711, @clepore, @nickwynja

Add updated ids design logo to header
  src/site/src/app/components/footer/footer.component.html
  src/site/src/app/components/header/header.component.html
  src/site/src/app/components/header/header.component.scss
  src/site/src/app/components/home/home.component.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Fix css lint errors
  src/site/src/app/components/header/header.component.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Add placeholder image to related posts component
  src/site/src/app/components/blog-related-posts/blog-posts.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Add visually hidden site title
  src/site/src/app/components/header/header.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Add loading checks to blog pages
  src/site/src/app/components/blog-post-page/blog-post-page.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

readme updates
  README.md
Owners: @jmacaluso711, @clepore, @nickwynja

Update README.md
  README.md
Owners: @jmacaluso711, @clepore, @nickwynja

Change some async loading to sync for timing
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Fix a lint issue
  src/site/src/app/components/docs-content-page/docs-content-page.component.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Infor SSL deployment on prod.
  .gitignore
  deploy/environments/prod-Dockerrun.aws.json
  deploy/extensions/91_download_ssls.config
  src/config/nginx/certs/design_infor_com/.gitkeep
  src/config/nginx/prod.conf
  src/config/nginx/snippets/certificates-prod.conf
  src/config/nginx/snippets/certificates.conf
  src/config/nginx/snippets/ssl.conf
Owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

Cleaned up paths for SSLs on S3 and in the app.
  deploy/environments/prod-Dockerrun.aws.json
  deploy/extensions/91_download_ssls.config
  src/config/nginx/snippets/certificates-prod.conf
Owners: @corpulent

Add touch icons and site manifest file
  src/site/src/android-chrome-128x128.png
  src/site/src/android-chrome-192x192.png
  src/site/src/apple-touch-icon-120x120.png
  src/site/src/apple-touch-icon-152x152.png
  src/site/src/apple-touch-icon-167x167.png
  src/site/src/apple-touch-icon-180x180.png
  src/site/src/apple-touch-icon-57x57.png
  src/site/src/apple-touch-icon-76x76.png
  src/site/src/index.html
  src/site/src/site.webmanifest
Owners: @jmacaluso711, @clepore, @nickwynja

Add manifest to angular.json
  src/site/angular.json
  src/site/src/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

Move touch icons to asset folder
  src/site/src/assets/img/android-chrome-128x128.png
  src/site/src/assets/img/android-chrome-192x192.png
  src/site/src/assets/img/apple-touch-icon-120x120.png
  src/site/src/assets/img/apple-touch-icon-152x152.png
  src/site/src/assets/img/apple-touch-icon-167x167.png
  src/site/src/assets/img/apple-touch-icon-180x180.png
  src/site/src/assets/img/apple-touch-icon-57x57.png
  src/site/src/assets/img/apple-touch-icon-76x76.png
  src/site/src/assets/img/apple-touch-icon.png
  src/site/src/index.html
  src/site/src/site.webmanifest
Owners: @jmacaluso711, @clepore, @nickwynja

Minor readme update.
  README.md
Owners: @jmacaluso711, @clepore, @nickwynja

Update to ng8
  src/site/browserslist
  src/site/package.json
  src/site/src/app/components/feedback-widget/feedback-widget.component.ts
  src/site/src/app/components/header/header.component.ts
  src/site/src/app/components/home/home.component.ts
  src/site/src/app/components/icon-lookup/icon-lookup.component.ts
  src/site/src/app/components/role-widget/role-widget.component.ts
  src/site/src/app/components/search-page/search-page.component.ts
  src/site/src/app/components/sidebar/sidebar.component.ts
  src/site/src/polyfills.ts
  src/site/tsconfig.json
  src/site/tslint.json
Owners: @jmacaluso711, @clepore, @nickwynja

Add ids-row class to nested grids
  src/site/src/app/components/core-content-page/core-content-page.component.html
  src/site/src/app/components/docs-content-page/docs-content-page.component.html
  src/site/src/app/components/landing-page/landing-page.component.html
Owners: @jmacaluso711, @clepore, @nickwynja

Add --prod flag to build scripts
  src/site/package.json
Owners: @jmacaluso711, @clepore, @nickwynja

Update css-var-ponyfill
  src/site/package.json
  src/site/src/polyfills.ts
Owners: @jmacaluso711, @clepore, @nickwynja

You don't need to export any vars to the shell if your using .env file.
  README.md
Owners: @jmacaluso711, @clepore, @nickwynja

Versioned the code base properly for backend django version bump.
  docker-compose.yml
  docker/docs-backend/Makefile
  docker/docs-backend/requirements/prod.txt
Owners: @jmacaluso711, @clepore, @nickwynja, @corpulent

Headless previews backend and frontend initial setup
  src/app/app/api.py
  src/app/app/settings/base.py
  src/app/app/static/js/editor.js
  src/app/home/client/index.html
  src/app/home/models.py
  src/app/home/router.py
  src/site/src/app/app-routing.module.ts
  src/site/src/app/app.module.ts
  src/site/src/app/components/blog-post-page/blog-post-page.component.ts
  src/site/src/app/components/preview-loader/preview-loader.component.html
  src/site/src/app/components/preview-loader/preview-loader.component.scss
  src/site/src/app/components/preview-loader/preview-loader.component.spec.ts
  src/site/src/app/components/preview-loader/preview-loader.component.ts
  src/site/src/app/components/preview-loader/preview-loader.directive.spec.ts
  src/site/src/app/components/preview-loader/preview-loader.directive.ts
  src/site/src/app/shared/pages.service.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Add front end for cms page previews
  src/app/app/settings/base.py
  src/app/home/client/index.html
  src/site/src/app/app-routing.module.ts
  src/site/src/app/components/home/home.component.html
  src/site/src/app/components/home/home.component.ts
  src/site/src/app/components/preview-loader/preview-loader.component.scss
  src/site/src/app/components/preview-loader/preview-loader.component.spec.ts
  src/site/src/app/components/preview-loader/preview-loader.component.ts
  src/site/src/app/components/preview-loader/preview-loader.directive.spec.ts
  src/site/src/assets/css/variables.scss
Owners: @jmacaluso711, @clepore, @nickwynja

Remove old preview hooks from backend
  src/app/app/static/js/editor.js
Owners: @jmacaluso711, @clepore, @nickwynja

Fix tslint error
  src/site/src/app/components/preview-loader/preview-loader.directive.spec.ts
Owners: @jmacaluso711, @clepore, @nickwynja

Remove preview client demo
  src/app/home/client/index.html
Owners: @jmacaluso711, @clepore, @nickwynja

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Default owners for the repo:
*       @jmacaluso711 @clepore @nickwynja

# Code owners for the docs directory

deploy/         @corpulent
docker/         @corpulent
src/app/config  @corpulent
src/config      @corpulent
